<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ice Creamery</title>
</head>
<body ng-app="IceCreameryApp">
  <main>
    <section ng-controller="IceCreamController as icctrl" ng-init="icctrl.getIceCream()">
    <h1>Ice Cream</h1>
    <ul>
      <li ng-repeat="icecream in icctrl.icecream">
        {{icecream}}
        <button ng-click="icecream.edit = !icecream.edit">Edit</button>
        <form ng-hide="!icecream.edit" ng-submit="icctrl.updateIceCream(icecream, updatedIceCream)">
          <input type ="text" ng-model="updatedIceCream.flavor"/>
          <button type="submit">Update Flavor</button>
          <button ng-click="icctrl.deleteIceCream(icecream)">Delete</button>
        </form>
      </li>
    </ul>
    <form ng-submit="icctrl.addIceCream()">
      <input ng-model="icctrl.newIceCream.flavor" type="text"/>
      <button type="submit">New IceCream Flavor</button>
    </form>
  </section>
  <section ng-controller="MilkShakeController as msctrl" ng-init="msctrl.getMilkShake()">
  <h1>Milk Shake</h1>
  <ul>
    <li ng-repeat="milkshake in msctrl.milkshake">
      {{milkshake}}
      <button ng-click="milkshake.edit = !milkshake.edit">Edit</button>
      <form ng-hide="!milkshake.edit" ng-submit="msctrl.updateMilkShake(milkshake, updatedMilkShake)">
        <input type ="text" ng-model="updatedMilkShake.flavor"/>
        <button ng-click="msctrl.deleteMilkShake(milkshake)">Delete</button>
      </form>
    </li>
  </ul>
  <form ng-submit="msctrl.addMilkShake()">
    <input ng-model="msctrl.newMilkShake.flavor" type="text"/>
    <button type="submit">New Milk Shake</button>
  </form>
</section>
</main>
<script src="./bundle.js"></script>
</body>
</html>
